.wrapper {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0 1rem;
}
.wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper > div > :global(.card) {
  font-size: 0.9rem;
  font-weight: 500;
}

.paragraphCardFooter {
  display: flex;
  border-top: 1px solid black;
  margin-top: 0.7rem;
  padding-top: 0.7rem;
}
.restartBtn {
  margin-left: auto;
  padding: 0.2rem 0.6rem;
}

@media (width<1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .wrapper > div:nth-child(1) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
@media (width<750px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
